body,html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
/* navbar */
.navbar{
  background-color: rgba(0, 0, 0, 0.0)!important;
  z-index: 1;
  transition: 0.5s ease;
}

.navbar-toggler{
  background-color: rgb(0,0,0,0.8)!important;
}
.navbar .material-icons{
  color: #C0C0C0;
}

.nav-link{
  position: relative;
  padding: 5px 10px!important;
  margin: 0 15px;
  font-size: 16px;
  color: white!important;
  text-shadow: 1px 1px 1px black;
  transition: 0.5s;
}
.nav-link:before{
  content: '';
  position: absolute;
  bottom: 10px;
  left:11px;
  width: 12px;
  height: 12px;
  border: 2px solid #fc0;
  border-width: 0 0 2px 2px;
  transition: 0.5s;
  opacity: 0;
}
.nav-link:after{
  content: '';
  position: absolute;
  top:11px;
  right: 10px;
  width: 12px;
  height: 12px;
  border: 2px solid #fc0;
  border-width: 2px 2px 0px 0px;
  transition: 0.5s;
  opacity: 0;
}
@media not all and (pointer: coarse) {
  .nav-link:hover{
    color: #fc0!important;
  }
  .nav-link:hover:before{
    bottom: 0px;
    left: 0px;
    opacity: 1;
  }
  .nav-link:hover:after{
    top: 0px;
    right: 0px;
    opacity: 1;
  }
}


/* Active Nav Link */
.nav-item.active .nav-link{
  color: #fc0!important;
}

.nav-item.active .nav-link:after{
  content: '';
  position: absolute;
  top:0px;
  right: 0px;
  width: 12px;
  height: 12px;
  border: 2px solid #fc0;
  border-width: 2px 2px 0px 0px;
  transition: 0.5s;
  opacity: 1;
}
.nav-item.active .nav-link:before{
  content: '';
  position: absolute;
  bottom: 0px;
  left:0px;
  width: 12px;
  height: 12px;
  border: 2px solid #fc0;
  border-width: 0 0 2px 2px;
  transition: 0.5s;
  opacity: 1;
}

/* Thesis.html */

.position-relative{
  position: relative;
}
.fixed{
  position: fixed;
}

/* Thesis Carousel */

.carousel{
  z-index: -3;
}

.carousel-indicators{
  margin-bottom: 2%;

}
.carousel-indicators li{
  box-shadow: 0px 0px 3px 1px #202020;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1px solid white;
 display: inline-block;
}
.carousel-indicators .active{
  box-shadow: 0px 0px 3px 1px 	#E0E0E0;
  border: 1px solid black;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-color: #101010;
}
figure{
  overflow: hidden;
}
.thesis-image{
  width: 100%;
  max-height: 100vh;
  height: auto;
  animation: image-load-thesis 4.6s 1s forwards linear;
}
@keyframes image-load-thesis{
  0%{
    width: 100%;
    transform: scale(1);
  }
  50%{
    width: 100%;
    transform: scale(1.05);
  }
  100%{
    width: 100%;
    transform: scale(1.1);
  }
  }
  .carousel-text{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2%;
    margin-bottom: 2%;
  }

  .carousel-text  h1{
    text-transform: uppercase;
    text-shadow: 1px 1px 3px black;
    font-weight: 100;
    font-size: 60px;
    line-height: 1.1;
    color: white;
  }
  .carousel-text p:nth-child(2){
    line-height: 0.5;
    font-size: 30px;
    text-shadow: 1px 1px 3px black;
    color:	white;
  }
 .carousel-text p:nth-child(3){
   margin-top: 25px;
 }
  .carousel-text  p{
    line-height: 0.5;
    font-size: 15px;
    text-shadow: 1px 1px 3px black;
    color:	white;
  }
 
  .scrolldown{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    text-shadow: 2px 1px 1px black;
    opacity: 0;
    animation: scroll-down 1s 3s linear infinite alternate-reverse;
  }
  @keyframes scroll-down{
    0%{
      opacity: 0;
    }

   50%,100%{
      opacity: 1;
    }
  }
 
/* Thesis Content */

.content{
 z-index: 2;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 100vh;
  left: 15%;
  padding: 30px;
}
.content-heading{
  font-weight: 300;
  font-size:60px;
  text-transform: uppercase;
  color: #303030;
}
.content-heading ~ p:nth-child(2){
  font-size: 30px;
}
.content-heading  ~ p:nth-child(3){
  margin-top: 25px;
}
.content-heading ~ p{
  line-height: 0.3;
  color:#808080;
}


.line{
  border-top: 2px solid 	#808080;
}
.content-images{
  width: 100%;
  height: auto;
  cursor: zoom-in;
  transition: opacity 0.5s ease ,
               box-shadow 0.5s ease  ;
}
.content-image-text{  
  position: absolute;
  bottom: 4%;
  left: 85%;
  font-size: 18px;
  text-transform: uppercase;
}
.content-images:hover{
  opacity: 0.8;
  box-shadow: 0px 0px 5px 1px black;
}

.zone{
  color: #303030;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}
.zone-line{
  width: 40%;
  margin: 0 auto;
  border-top: 1.5px solid 	#808080;
}
.zone-heading{
  text-transform: uppercase;
  color: #303030;
  font-size: 22px;
}
#zone-inner-text{
  color:#808080;
  font-size: 20px;
}


[data-aos="darkness"]{
  filter: brightness(100%);
  transition-property: filter;
}
[data-aos="darkness"].aos-animate{
  filter: brightness(35%);
}

/* Gallery */
.removed-more-padding{
  padding-left: 2px;
  padding-right: 2px;
}


.back-to-top{
  z-index: 3;
  position: fixed;
  bottom: 3%;
  right: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50px;

background: linear-gradient(47deg, rgba(0,0,5,1) 31%, rgba(0,0,51,1) 61%, rgba(0,0,102,1) 100%);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ;
}
.back-to-top.active{
  
 visibility: visible;
 opacity: 1;
}
.back-to-top .material-icons{
  color: white;
  font-size: 50px;
}
.back-to-top .material-icons:nth-child(1){
 position: absolute;
 top: -8px;
 left: 10px;
 font-size: 30px;
 opacity: 0;
}
.back-to-top .material-icons:nth-child(2){
 position: absolute;
 top: -5px;
 left: 5px;
 font-size: 40px;
 opacity: 0;
}
.back-to-top:hover .material-icons:nth-child(1){
 animation: move-up 0.7s 0.3s infinite  linear;
}
.back-to-top:hover .material-icons:nth-child(2){
  animation: move-up 0.7s infinite linear;
 }
@keyframes move-up{
 0%{
   opacity: 0;
 }
 100%{
   opacity: 1;
 }
}

/* LightBox */
.lightbox {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* LightBox Content */  
.lightbox-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  border: 0px;
  animation: lightbox-opener 0.7s ease-in-out forwards;
}
@keyframes lightbox-opener{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
.mySlides {
  animation: slide-change 0.5s forwards ease-in;
  display: none;
}
@keyframes slide-change{
  from{
    filter: brightness(0%);
  }
  to{
    filter: brightness(100%);
  }
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -50px;
  color:	white!important;
  font-size: 100px;
  transition: 0.3s ease;
  text-shadow: 
  3px 1px 3px rgb(0,0,0,0.5), 1px 2px 3px rgb(0,0,0,0.5), 1px -2px 4px rgb(0,0,0,0.5);
  opacity: 0.6;
}

.next {
 cursor: pointer;
  position: absolute;
  top: 50%;
  right: -20px;
  margin-top: -50px;
  color:	white!important;
  font-size: 100px;
  transition: 0.3s ease;
  text-shadow: 
  -3px 1px 3px rgb(0,0,0,0.5), 1px 2px 3px rgb(0,0,0,0.5), 1px -2px 4px rgb(0,0,0,0.5);  
  opacity: 0.6;
}
.prev:hover{
  opacity: 1;
}
.next:hover{
  opacity: 1;
}

.close-lightbox{
  cursor: pointer;
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 40px;
  font-weight: bold;
  opacity: 1;
  text-shadow: none;
  transition: transform 0.2s;
 }
 .close-lightbox:hover,
 .close-lightbox:focus {
   transform: scale(1.2);
  color:#fc0;
  text-decoration: none;
  cursor: pointer;
 }
 
 .fullscreen{
  font-weight: bold;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  right: 30px;
  font-size: 27px;
  transition: transform 0.2s;
}
 .fullscreen:hover,.fullscreen:focus{
   transform: scale(1.2);
   color:#fc0;
  text-decoration: none;
  cursor: pointer;
 }
 
 


/* modals*/
.close {
  cursor: pointer;
  color: white;
  position: absolute;
  top: -50px;
  right: -50px;
  font-size: 50px;
  font-weight: bold;
  opacity: 1;
  text-shadow: none;
  transition: transform 0.2s;
 }
 .close:hover,
 .close:focus {
   transform: scale(1.2);
  color:#fc0;
  text-decoration: none;
  cursor: pointer;
 }
.modal-dialog{
  animation: modal-opener 0.7s ease-in-out forwards;
}
@keyframes modal-opener{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
 .modal-body{
  padding: 0px;
} 

/* Footer */

.arrow-left{
  position: absolute;
  left: 10px;
}
.arrow-left i {
  line-height: 1;
  font-size: 60px;
  color: #808080;
  transition: color 0.3s;
}
.arrow-left p{
  line-height: 0;
  font-size: 16px;
  color: #303030;
  opacity: 0;
  transition: opacity 0.3s;
}
.arrow-right{
  position: absolute;
  right: 10px;
}
.arrow-right i{
  line-height: 1;
  font-size: 60px;
  color: #808080;
  transition: color 0.3s;
}
.arrow-right p{
  margin-left: 3px;
  line-height: 0;
  font-size: 16px;
  color: #303030;
  opacity: 0;
  transition: opacity 0.3s;
}
@media not all and (pointer: coarse) {
.arrow-right:hover i{
  color: #303030;
}
.arrow-left:hover p{
  opacity: 1;
}
.arrow-right:hover p{
  opacity: 1;
}
.arrow-left:hover i{
  color: #303030;
}
}
.copyright{
 margin-top: 60px;
 margin-bottom: -20px;
}

.copyright  p{
  text-transform: uppercase;
color: #484848;
 font-size: 11px;
 line-height: 0.1;
}



@media only screen and (max-width:1000px) and (min-width:767px){
 
  .nav-link{
    margin: 0 10px;
    font-size: 14px;
  }
  .thesis-image{
    min-height: 100vh;
  }
  .carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }
  .carousel-indicators .active{
    width: 10px;
    height: 10px; 
  }
 
  .content-image-text{
    left: 80%;
    font-size: 16px;
  }
    .zone{
    font-size: 30px;
  }
  .zone-heading{
    font-size: 19px;
  }
  /* lightbox */
  .lightbox {
    padding-top: 100px;
  }
  .lightbox-content {
    width: 90%;
  }
  .prev {
    font-size: 80px;
  }
  
  .next {
    font-size: 80px;
  }
  .arrow-left{
    left: 8px;
  }
  .arrow-left i {
    font-size: 50px;
  }
  .arrow-left p{
    line-height: 0;
    font-size: 15px;
  }
  .arrow-right{
    right: 8px;
  }
  .arrow-right i{
    font-size: 50px;
  }
  .arrow-right p{
    font-size: 15px;
  }


}

@media only screen and (max-width:768px){
 
  .navbar{
    box-shadow: none;
  }
  .navbar:hover{
    background-color: rgb(0,0,0,0.6)!important;
  }
  .nav-link{
    margin: 0px;
    width: 80px;
  }


 .fixed{
  position: relative;
}
.scrolldown{
  display: none;
}
  .carousel-indicators{
  margin-bottom: 3%;
  }
  .carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }
  .carousel-indicators .active{
    width: 10px;
    height: 10px; 
  }
  .carousel-text{
    display: none;
  }

  .content{
    padding: 10px;
    background-color: white;
    position: relative;
    width: 100%;
    top: 0;
    left: 0px;
  }
  .content-heading{
    font-size:45px;
    text-align: left;
  }
  .content-heading ~ p:nth-child(2){
    font-size: 25px;
  }
 
  .content-image-text{
    left: 85%;
    font-size: 16px;
  }
  .zone{
    font-size: 25px;
  }
  .zone-heading{
    font-size: 18px;

  }

  .removed-padding{
  padding-right: 5px;
  padding-left: 5px;
  }

/* lightbox */
  .lightbox {
    padding-top: 200px;
  }
  .lightbox-content {
    width: 94%;
  }
  .prev {
    margin-top: -30px;
    font-size: 70px;
  }
  
  .next {
    margin-top: -30px;
    font-size: 70px;
  }

  .close-lightbox{
    top: 130px;
    right: 20px;
  }
  .back-to-top{
    bottom: 2%;
    right: 1%;
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  .back-to-top .material-icons{
    font-size: 40px;
  }
  .back-to-top:hover .material-icons:nth-child(1){
    animation: none;
   }
   .back-to-top:hover .material-icons:nth-child(2){
     animation: none;
    }
  
    .fullscreen{
      display: none;
      visibility: hidden;
    }

    .arrow-left{
      left: 5px;
    }
    .arrow-left i {
      font-size: 45px;
    }
    .arrow-left p{
      line-height: 0;
      font-size: 14px;
    }
    .arrow-right{
      right: 5px;
    }
    .arrow-right i{
      font-size: 45px;
    }
    .arrow-right p{
      font-size: 14px;
    }
  
}
@media only screen and (max-width:576px){
  button.navbar-toggler{
    margin-left: 0px!important;
    } 
  p{
    font-size: 13px;
  }
  .container-fluid{
    padding: 0px;
  }
  .content-image-text{
    left: 75%;
    font-size: 10px;
  } 
   .carousel-indicators{
    margin-bottom: 5%;
  }
  .carousel-indicators li{
    width: 6px;
    height: 6px;
    border-radius: 6px;
  }
  .carousel-indicators .active{
    width: 8px;
    height: 8px;
    border-radius: 8px!important;
  }
  .content-heading{
    font-size:30px;
    line-height: 1.2;
  }
  .content-heading ~ p:nth-child(2){
    font-size: 20px;
  }
  .content-heading  ~ p:nth-child(3){
    margin-top: 15px;
  }

  .text-content-change{
    font-size: 10px;
  }
  #zone-inner-text{
    font-size: 14px;
  }
  .close{
    font-size: 30px;
    right: 5px;
  }

  /* lightbox*/
  .prev {
    font-size: 60px;
  }
  .next {
    font-size: 60px;
  }
  .arrow-left i {
    color: #303030;
  }
  .arrow-right i{
    color: #303030;
  }
  .arrow-left p{
    line-height: 0.5;
    font-size: 12px;
    opacity: 1;
  }
  .arrow-right p{
    margin-left:5px;
    font-size: 12px;
    line-height: 0.5;
    opacity: 1;
  }
  .copyright  p{
     font-size: 9px;
     line-height: 0.0
     ;
   }
  
}
