body,html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
/* navbar */

.navbar:hover{
background-color: rgb(0,0,0,0.7)!important;
}
.navbar{
  z-index: 1;
  background-color: rgb(0,0,0,0.0)!important;
  transition-property: background;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.04, 0.4, 0.58, 1);
}
.navbar-toggler{
  background-color: rgb(0,0,0,0.8)!important;
}
 .material-icons{
  color: #C0C0C0;
}
.navbar-nav .nav-link{
  padding-right:  20px!important;
  text-shadow: 1px 1px 1px black;
  font-size: 16px;
  color: white!important;
}
.navbar-nav .nav-link:hover{
  animation: border-display 0.5s forwards ease-out;
  border-bottom: 2px solid 	#C0C0C0;
  width: 0%;
}
@keyframes border-display{
  to{
    width: 100%;
    border-bottom: 2px solid 	#C0C0C0;
  }
}
.nav-item.active .nav-link{
  
  width: 100%;
  color: 	#A9A9A9!important;
  text-shadow: 1px 1px 1px black;

}


/* Thesis.html */

.position-relative{
  position: relative;
}
.fixed{
  position: fixed;
}

/* Thesis Carousel */

.carousel{
  z-index: -3;
}

.carousel-indicators{
  margin-bottom: 2%;

}
.carousel-indicators li{
  box-shadow: 0px 0px 3px 1px #202020;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1px solid white;
 display: inline-block;
}
.carousel-indicators .active{
  box-shadow: 0px 0px 3px 1px 	#E0E0E0;
  border: 1px solid black;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-color: #101010;
}
figure{
  overflow: hidden;
}
.thesis-image{
  width: 100%;
  max-height: 100vh;
  height: auto;
  animation: image-load-thesis 4.6s 1s forwards linear;
}
@keyframes image-load-thesis{
  0%{
    width: 100%;
    transform: scale(1);
  }
  50%{
    width: 100%;
    transform: scale(1.05);
  }
  100%{
    width: 100%;
    transform: scale(1.1);
  }
  }
  .carousel-text{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2%;
    margin-bottom: 2%;
  }
  .carousel-text  h1{
    text-transform: uppercase;
    text-shadow: 1px 1px 3px black;
    font-weight: 100;
    font-size: 60px;
    line-height: 1.1;
    color: white;
  }
  .carousel-text  p{
    line-height: 0.5;
    font-size: 15px;
    text-shadow: 1px 1px 3px black;
    color:	white;
  }
  .scrolldown{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    text-shadow: 2px 1px 1px black;
    opacity: 0;
    animation-duration:  4s;
  }
  @keyframes scroll-down{
    0%{
      opacity: 1;
    }

   50%,100%{
      opacity: 1;
    }
  }
/* Thesis Content */

.content{
 z-index: 2;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 100vh;
  left: 15%;
  padding: 30px;
}
.content-heading{
  font-weight: 300;
  font-size:60px;
  text-transform: uppercase;
  color: #303030;
}
.content-heading ~ p{
  line-height: 0.3;
  color:#808080;
}

/* CSS for Better styled sub-heading */
/* .content-heading ~ .row{
text-align: center;
} */
/* #content-subheading {
  width: 80%;
  margin-left: 10%;
  padding: 2px 4px 2px 4px;
  border-radius: 8px;
  background: linear-gradient(145deg,	#F5F5F5, #ffffff);
  box-shadow:  3px 3px 6px#E8E8E8;
} */

.line{
  border-top: 2px solid 	#808080;
}
.content-images{
  width: 100%;
  height: auto;
  cursor: zoom-in;
  transition: opacity 0.5s ease ,
               box-shadow 0.5s ease  ;
}
.content-image-text{  
  position: absolute;
  bottom: 4%;
  left: 85%;
  font-size: 18px;
  text-transform: uppercase;
}
.content-images:hover{
  opacity: 0.8;
  box-shadow: 0px 0px 5px 1px black;
}

.zone{
  color: #303030;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}
.zone-line{
  width: 40%;
  margin: 0 auto;
  border-top: 2px solid 	#808080;
}
.zone-heading{
  text-transform: uppercase;
  color: #303030;
  font-size: 22px;
}
#zone-inner-text{
  color:#808080;
  font-size: 20px;
}


[data-aos="darkness"]{
  filter: brightness(100%);
  transition-property: filter;
}
[data-aos="darkness"].aos-animate{
  filter: brightness(35%);
}

/* Gallery */
.removed-more-padding{
  padding-left: 2px;
  padding-right: 2px;
}


.back-to-top{
  z-index: 3;
  position: fixed;
  bottom: 3%;
  right: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50px;

background: linear-gradient(47deg, rgba(0,0,5,1) 31%, rgba(0,0,51,1) 61%, rgba(0,0,102,1) 100%);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ;
}
.back-to-top.active{
  
 visibility: visible;
 opacity: 1;
}
.back-to-top .material-icons{
  color: white;
  font-size: 50px;
}
.back-to-top .material-icons:nth-child(1){
 position: absolute;
 top: -8px;
 left: 10px;
 font-size: 30px;
 opacity: 0;
}
.back-to-top .material-icons:nth-child(2){
 position: absolute;
 top: -5px;
 left: 5px;
 font-size: 40px;
 opacity: 0;
}
.back-to-top:hover .material-icons:nth-child(1){
 animation: move-up 0.7s 0.3s infinite  linear;
}
.back-to-top:hover .material-icons:nth-child(2){
  animation: move-up 0.7s infinite linear;
 }
@keyframes move-up{
 0%{
   opacity: 0;
 }
 100%{
   opacity: 1;
 }
}

/* LightBox */
.lightbox {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* LightBox Content */  
.lightbox-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  border: 0px;
  animation: lightbox-opener 0.7s ease-in-out forwards;
}
@keyframes lightbox-opener{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
.mySlides {
  animation: slide-change 0.5s forwards ease-in;
  display: none;
}
@keyframes slide-change{
  from{
    filter: brightness(0%);
  }
  to{
    filter: brightness(100%);
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px;
  margin-top: -50px;
  color:	white!important;
  font-weight: bold;
  font-size: 70px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 0.8;
  background-color: rgb(0,0,0,0.2 );
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover{
  color:white!important;
  opacity: 1;
  box-shadow: 2px 1px 4px 0px black;
}
.next:hover{
  color:white!important;
  opacity: 1;
  box-shadow: -2px 1px 4px 0px black;
}

.close-lightbox{
  cursor: pointer;
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 40px;
  font-weight: bold;
  opacity: 1;
  text-shadow: none;
}
.close-lightbox:hover,
.close-lightbox:focus {
  color:red;
  text-decoration: none;
  cursor: pointer;
}



/* modals*/
.close {
  cursor: pointer;
  color: white;
  position: absolute;
  top: -50px;
  right: -50px;
  font-size: 50px;
  font-weight: bold;
  opacity: 1;
  text-shadow: none;
}
.close:hover,
.close:focus {
  color:red;
  text-decoration: none;
  cursor: pointer;
}
.modal-dialog{
  animation: modal-opener 0.7s ease-in-out forwards;
}
@keyframes modal-opener{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
 .modal-body{
  padding: 5px;
} 
.copyright{
  margin-top: 40px;
}
.copyright  p{
 color: #808080;
  font-size: 13px;
  line-height: 0.1;
}


@media only screen and (max-width:1000px) and (min-width:767px){
 
  .navbar-nav .nav-link{
    padding-right:  10px!important;
    font-size: 14px;
  }
  .thesis-image{
    min-height: 100vh;
  }
  .carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }
  .carousel-indicators .active{
    width: 10px;
    height: 10px; 
  }
 
  .content-image-text{
    left: 80%;
    font-size: 16px;
  }
    .zone{
    font-size: 30px;
  }
  .zone-heading{
    font-size: 19px;
  }
  /* lightbox */
  .lightbox {
    padding-top: 100px;
  }
  .lightbox-content {
    width: 90%;
  }
  .prev,
  .next {
    padding: 14px;
    margin-top: -40px;
    font-size: 50px;
  }


}

@media only screen and (max-width:768px){
 
  
  .navbar-nav .nav-link{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 14px;
  }
  button.navbar-toggler{
   margin-left: 10px!important;
  }
  @keyframes border-display{
  to{
    width: 15%;
    border-bottom: 2px solid 	#C0C0C0;
  } 
 }

 .fixed{
  position: relative;
}

  .carousel-indicators{
  margin-bottom: 3%;
  }
  .carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }
  .carousel-indicators .active{
    width: 10px;
    height: 10px; 
  }
  .carousel-text{
    display: none;
  }
  .scrolldown p{
    animation: none;
    display: none;
    visibility: hidden;
  }
  

  .content{
    padding: 10px;
    background-color: white;
    position: relative;
    width: 100%;
    top: 0;
    left: 0px;
  }
  .content-heading{
    font-size:45px;
    text-align: left;
  }
  /* .content-heading ~ .row{
    text-align: left;
  } */
  /* #content-subheading {
    width: 100%;
    margin-left: 0%;
    padding: 0px;
    border-radius: 0px;
    background: none;
    box-shadow:  none;
    line-height: 0.5;
  } */
  .content-image-text{
    left: 85%;
    font-size: 16px;
  }
  .zone{
    font-size: 25px;
  }
  .zone-heading{
    font-size: 18px;

  }

  .removed-padding{
  padding-right: 5px;
  padding-left: 5px;
  }

/* lightbox */
  .lightbox {
    padding-top: 200px;
  }
  .lightbox-content {
    width: 94%;
  }
  .prev,
  .next {
    padding: 12px;
    margin-top: -30px;
    font-size: 40px;
  }
  .prev:hover{
    box-shadow: 2px 1px 3px 0px black;
  }
  .next:hover{
    box-shadow: -2px 1px 3px 0px black;
  }

  .close-lightbox{
    top: 130px;
    right: 20px;
  }
  .back-to-top{
    bottom: 3%;
    right: 1%;
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  .back-to-top .material-icons{
    font-size: 40px;
  }
  .back-to-top:hover .material-icons:nth-child(1){
    animation: none;
   }
   .back-to-top:hover .material-icons:nth-child(2){
     animation: none;
    }
  
 
  
}
@media only screen and (max-width:576px){
  p{
    font-size: 13px;
  }
  .content-image-text{
    left: 75%;
    font-size: 10px;
  } 
   .carousel-indicators{
    margin-bottom: 5%;
  }
  .carousel-indicators li{
    width: 6px;
    height: 6px;
    border-radius: 6px;
  }
  .carousel-indicators .active{
    width: 8px;
    height: 8px;
    border-radius: 8px!important;
  }
  .nav-link{
    padding: 0px;
  }
  .navbar-nav .nav-link{
    padding-left: 7px;
    padding-top: 4px;
    font-size: 14px;
  }
  button.navbar-toggler{
    margin-left: 0px!important;
  }
  .content-heading{
    font-size:30px;
    line-height: 1.2;
  }
  /* #content-subheading {
    font-size: 13px;
    line-height: 0.3;
  } */
  #text-content-change{
    font-size: 10px;
  }
  #zone-inner-text{
    font-size: 14px;
  }
  .close{
    font-size: 30px;
    right: 5px;
  }

  /* lightbox*/
  .prev,
  .next {
    padding: 8px;
    margin-top: -30px;
    font-size: 30px;
  }
  .copyright  p{
    font-size: 10px;
    line-height: 0.0;
  }
}


















/* Images for web */
/* All images should have 72-100dpi or ppi resolution with rgb color format and jpg format */
/* 2880*1620px dimension for full screen display */
/* Inside content : 1500 max width horizontal */
/* Inside content : 1000 max width vertical */
/* low quality images set at 974 x 548 */
/* medium quality images set at 1920x1080 */


