body,html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
/* navbar */

.navbar:hover{
background-color: rgb(0,0,0,0.7)!important;
}
.navbar{
  z-index: 1;
  background-color: rgb(0,0,0,0.0)!important;
  transition-property: background;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.04, 0.4, 0.58, 1);
}
.navbar-toggler{
  background-color: rgb(0,0,0,0.8)!important;
}
 .material-icons{
  color: #C0C0C0;
}
.navbar-nav .nav-link{
  padding-right:  20px!important;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
  color: white!important;
}
.navbar-nav .nav-link:hover{
  animation: border-display 0.5s forwards ease-out;
  border-bottom: 2px solid 	#C0C0C0;
  width: 0%;
}
@keyframes border-display{
  to{
    width: 100%;
    border-bottom: 2px solid 	#C0C0C0;
  }
}
.nav-item.active .nav-link{
  
  width: 100%;
  color: 	#A9A9A9!important;
  text-shadow: 1px 1px 1px black;

}


/* Thesis.html */

.position-relative{
  position: relative;
}
.fixed{
  position: fixed;
}

/* Thesis Carousel */

.carousel{
  z-index: -3;
}

.carousel-indicators{
  position: absolute;
  left: 55%;
  bottom: 10px;
  width: 50%;
}
.carousel-indicators li{
  box-shadow: 0px 0px 3px 1px #202020;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1px solid white;
 display: inline-block;
}
.carousel-indicators .active{
  box-shadow: 0px 0px 3px 1px 	#E0E0E0;
  border: 1px solid black;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-color: #101010;
}
figure{
  overflow: hidden;
}
.thesis-image{
  width: 100%;
  max-height: 100vh;
  height: auto;
  animation: image-load-thesis 4.6s 1s forwards linear;
}
@keyframes image-load-thesis{
  0%{
    width: 100%;
    transform: scale(1);
  }
  50%{
    width: 100%;
    transform: scale(1.05);
  }
  100%{
    width: 100%;
    transform: scale(1.1);
  }
  }
.carousel-text{
    position: absolute;
    bottom: 8%;
    left: 2%;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;     
    margin-left: 20px;
    color: white;
  }

/* Thesis Content */

.content{
 z-index: 2;
  background-color: #F8F8F8;
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 100vh;
  left: 15%;
  padding: 30px;
}
.content-heading{
  font-size:55px;
  text-transform: uppercase;
  color: #303030;
}
.line{
  border-top: 2px solid 	#808080;
}
.content-images{
  width: 100%;
  height: auto;
  cursor: pointer;
}
.content-images:hover{
  box-shadow: 0px 0px 5px 1px black;
  transition: box-shadow 0.5s ease ;
}

.content-image-text{  
  position: absolute;
  bottom: 4%;
  left: 85%;
  font-size: 18px;
  text-transform: uppercase;
}
.zone{
  color: #303030;
  font-size: 40px;
}
.zone-line{
  width: 40%;
  margin: 0 auto;
  border-top: 2px solid 	#808080;
}
.zone-heading{
  color: #303030;
  text-transform: uppercase;
  font-size: 22px;
}
#zone-inner-text{
  color:#808080;
  font-size: 20px;
}
.zone-text{
  text-transform: uppercase;
  font-size: 17px;
}

[data-aos="darkness"]{
  filter: brightness(100%);
  transition-property: filter;
}
[data-aos="darkness"].aos-animate{
  filter: brightness(35%);
}

/* Gallery */
.removed-more-padding{
  padding-left: 2px;
  padding-right: 2px;
}

/* LightBox */
.lightbox {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* LightBox Content */
.lightbox-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  border: 0px;
  animation: lightbox-opener 0.7s ease-in-out forwards;
}
@keyframes lightbox-opener{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
.mySlides {
  animation: slide-change 0.5s forwards ease-in;
  display: none;
}
@keyframes slide-change{
  from{
    filter: brightness(0%);
  }
  to{
    filter: brightness(100%);
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px;
  margin-top: -50px;
  color:	white!important;
  font-weight: bold;
  font-size: 70px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 0.8;
  background-color: rgb(0,0,0,0.2 );
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover{
  color:white!important;
  opacity: 1;
  box-shadow: 2px 1px 4px 0px black;
}
.next:hover{
  color:white!important;
  opacity: 1;
  box-shadow: -2px 1px 4px 0px black;
}

.close-lightbox{
  cursor: pointer;
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 40px;
  font-weight: bold;
  opacity: 1;
  text-shadow: none;
}
.close-lightbox:hover,
.close-lightbox:focus {
  color:red;
  text-decoration: none;
  cursor: pointer;
}



/* modals*/
.close {
  cursor: pointer;
  color: white;
  position: absolute;
  top: -50px;
  right: -50px;
  font-size: 50px;
  font-weight: bold;
  opacity: 1;
  text-shadow: none;
}
.close:hover,
.close:focus {
  color:red;
  text-decoration: none;
  cursor: pointer;
}
.modal-dialog{
  animation: modal-opener 0.7s ease-in-out forwards;
}
@keyframes modal-opener{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
 .modal-body{
  padding: 5px;
} 


@media only screen and (max-width:1000px) and (min-width:767px){
 
  .navbar-nav .nav-link{
    padding-right:  10px!important;
    font-size: 15px;
  }
  .thesis-image{
    min-height: 100vh;
  }
  .carousel-text{
    font-size: 40px;
  }
  .carousel-indicators{
    left: 53%;
    bottom: 5px;
  }
  .carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }
  .carousel-indicators .active{
    width: 10px;
    height: 10px; 
  }
  .content-image-text{
    left: 80%;
    font-size: 16px;
  }
  .zone{
    font-size: 30px;
  }
  .zone-heading{
    font-size: 19px;
  }
  .zone-text{
    font-size: 15px;
    text-transform: none;
  }
  /* lightbox */
  .lightbox {
    padding-top: 100px;
  }
  .lightbox-content {
    width: 90%;
  }
  .prev,
  .next {
    padding: 14px;
    margin-top: -40px;
    font-size: 50px;
  }

}

@media only screen and (max-width:768px){
 
  
  .navbar-nav .nav-link{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 20px;
  }
  button.navbar-toggler{
   margin-left: 10px!important;
  }
  @keyframes border-display{
  to{
    width: 15%;
    border-bottom: 2px solid 	#C0C0C0;
  } 
 }

 .fixed{
  position: relative;
}

  .carousel-indicators{
    left: 50%;
    bottom: 5px;
  }
  .carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }
  .carousel-indicators .active{
    width: 10px;
    height: 10px; 
  }
  .carousel-text{
    display: none;
  }
  

  .content{
    padding: 10px;
    background-color: white;
    position: relative;
    width: 100%;
    top: 0;
    left: 0px;
  }
  .content-heading{
    font-size:45px;
  }
  .content-image-text{
    left: 85%;
    font-size: 16px;
  }

  .zone{
    font-size: 25px;
  }
  .zone-heading{
    font-size: 18px;

  }
  
  .zone-text{
    font-size: 13px;
    text-transform: none;
  }
 
  .removed-padding{
  padding-right: 5px;
  padding-left: 5px;
  }

/* lightbox */
  .lightbox {
    padding-top: 200px;
  }
  .lightbox-content {
    width: 94%;
  }
  .prev,
  .next {
    padding: 12px;
    margin-top: -30px;
    font-size: 40px;
  }
  .prev:hover{
    box-shadow: 2px 1px 3px 0px black;
  }
  .next:hover{
    box-shadow: -2px 1px 3px 0px black;
  }

  .close-lightbox{
    top: 130px;
    right: 20px;
  }
  
}
@media only screen and (max-width:576px){
  .content-image-text{
    left: 75%;
    font-size: 10px;
  }
  .carousel-indicators{
    left: 45%;
    bottom: 3px;
  }
  .carousel-indicators li{
    width: 6px;
    height: 6px;
    border-radius: 6px;
  }
  .carousel-indicators .active{
    width: 8px;
    height: 8px;
    border-radius: 8px!important;
  }
  .nav-link{
    padding: 0px;
  }
  .navbar-nav .nav-link{
    padding-left: 7px;
    padding-top: 4px;
    font-size: 15px;
  }
  button.navbar-toggler{
    margin-left: 0px!important;
  }
  .content-heading{
    font-size:30px;
  }
  #text-content-change{
    font-size: 10px;
  }
  #zone-inner-text{
    font-size: 14px;
  }
  .close{
    font-size: 30px;
    right: 5px;
  }

  /* lightbox*/
  .prev,
  .next {
    padding: 8px;
    margin-top: -30px;
    font-size: 30px;
  }
}


















/* Images for web */
/* All images should have 72-100dpi or ppi resolution with rgb color format and jpg format */
/* 2880*1620px dimension for full screen display */
/* Inside content : 1500 max width horizontal */
/* Inside content : 1000 max width vertical */
/* low quality images set at 974 x 548 */
/* medium quality images set at 1920x1080 */


