body,html{
  margin: 0px;
  padding: 0px;
 background-color: #F8F8F8;
 overflow-x: hidden;
 position: relative;
 scroll-behavior: smooth;
}

/* navbar */
::-webkit-scrollbar {
  display: none;
}

.navbar{
background-color:  rgba(0, 0, 0, 0.0)!important;
z-index: 5;
transition: background-color 0.75s cubic-bezier(.25,.1,.25,1);
}


.navbar-toggler{
background-color: rgb(0,0,0,0.8)!important;
}
.navbar .material-icons{
color: #C0C0C0;
}

.nav-link{
position: relative;
padding: 5px 10px!important;
margin: 0 15px;
font-size: 16px;
color: #F5F5F5!important;
text-shadow: 1px 1px 1px black;
transition: 0.5s;
}
.nav-link:before{
content: '';
position: absolute;
bottom: 10px;
left:11px;
width: 12px;
height: 12px;
border: 2px solid #fc0;
border-width: 0 0 2px 2px;
transition: 0.5s;
opacity: 0;
}
.nav-link:after{
content: '';
position: absolute;
top:11px;
right: 10px;
width: 12px;
height: 12px;
border: 2px solid #fc0;
border-width: 2px 2px 0px 0px;
transition: 0.5s;
opacity: 0;
}
@media not all and (pointer: coarse) {
.nav-link:hover{
  color: #fc0!important;
}
.nav-link:hover:before{
  bottom: 0px;
  left: 0px;
  opacity: 1;
}
.nav-link:hover:after{
  top: 0px;
  right: 0px;
  opacity: 1;
}
}


/* Active Nav Link */
.nav-item .nav-link.active{
color: #fc0!important;
}

.nav-item .nav-link.active:after{
content: '';
position: absolute;
top:0px;
right: 0px;
width: 12px;
height: 12px;
border: 2px solid #fc0;
border-width: 2px 2px 0px 0px;
transition: 0.5s;
opacity: 1;
}
.nav-item .nav-link.active:before{
content: '';
position: absolute;
bottom: 0px;
left:0px;
width: 12px;
height: 12px;
border: 2px solid #fc0;
border-width: 0 0 2px 2px;
transition: 0.5s;
opacity: 1;
}

/* SVG LOGO Loading */
.loading{
  display: none ;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ede2ce;
  animation:  0.4s 2s forwards linear;
}
@keyframes loading-fade{
  0%{
  opacity: 1;
  }
  100%{
opacity: 0;
visibility: hidden;
  }
}

#logo-loading{
  z-index: 100;
  width: 400px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
 
#logo-loading .st0{
  fill:none;stroke:#3d3d3d;stroke-width:0.1;stroke-miterlimit:10;
}
#logo-loading	.st1{
  fill:#000000;
}

#logo-loading #k-1{
  transform: translateY(-100%);
  animation: K-animate-line-vertical 0.4s 0.8s ease-in-out forwards;
}
#logo-loading #k-2{
  transform: translate(-80%,-60%);
  animation: K-animate-line-bottom 0.4s 1.3s ease-in-out forwards;
}
#logo-loading #k-3{
  transform: translate(-80%,70%);
  animation: K-animate-line-top 0.4s 1.1s ease-in-out forwards;
}
@keyframes K-animate-line-top{
  to{
    transform: translate(0%,0%);
  }
}
@keyframes K-animate-line-bottom{
  to{
    transform: translate(0%,0%);
  }
}
@keyframes K-animate-line-vertical{

  to{
    transform: translateY(0%);
  }
}
#logo-loading #vl-1{
  transform: translateY(100%);
  animation:  animate-vertical-line 0.3s 0.2s ease-in-out forwards;
  }
  #logo-loading #vl-2{
    transform: translateY(100%);
    animation:  animate-vertical-line 0.3s 0.3s ease-in-out forwards;
    }
    #logo-loading #vl-3{
      transform: translateY(100%);
      animation:  animate-vertical-line 0.3s 0.4s ease-in-out forwards;
      }
      #logo-loading #vl-4{
        transform: translateY(100%);
        animation:  animate-vertical-line 0.3s 0.5s ease-in-out forwards;
        }
        #logo-loading #vl-5{
          transform: translateY(100%);
          animation:  animate-vertical-line 0.3s 0.6s ease-in-out forwards;
          }
          #logo-loading #vl-6{
            transform: translateY(100%);
            animation:  animate-vertical-line 0.3s 0.7s ease-in-out forwards;
            }
  

  @keyframes animate-vertical-line{
    to{
transform: translateY(0%);
    }
  }


#logo-loading #hl-1{
  transform: translateX(-100%);
  animation:  animate-horizontal-line 0.3s 0s ease-in-out forwards;
  }
#logo-loading #hl-2{
transform: translateX(-100%);
animation:  animate-horizontal-line 0.3s 0.1s ease-in-out forwards;
}
#logo-loading #hl-3{
  transform: translateX(-100%);
  animation:  animate-horizontal-line 0.3s 0.2s ease-in-out forwards;
  }
  #logo-loading #hl-4{
    transform: translateX(-100%);
    animation:  animate-horizontal-line 0.3s 0.3s ease-in-out forwards;
    }
    #logo-loading #hl-5{
      transform: translateX(-100%);
      animation:  animate-horizontal-line 0.3s 0.4s ease-in-out forwards;
      }
      #logo-loading #hl-6{
        transform: translateX(-100%);
        animation:  animate-horizontal-line 0.3s 0.5s ease-in-out forwards;
        }
        #logo-loading #hl-7{
          transform: translateX(-100%);
          animation:  animate-horizontal-line 0.3s 0.6s ease-in-out forwards;
          }
      
@keyframes animate-horizontal-line{
 to{
   transform: translateX(0%);
 }
}



/* SVG LOGO HOME */
#homeScreenLogo{
  width: 60px;
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 10;
}

#homeScreenLogo .st0{
  fill:none;stroke:#000000;stroke-width:0.18;stroke-miterlimit:10;
}
#homeScreenLogo	.st1{
  fill:#000000;
}



/* Index.html */

.content{
  height: 100vh;
  width: 100%;
  position:relative;
}


  /* Home */

.face{
  width: 100%;
  height: 100%;
  float: right;
  background-image: url('../images/face-pic.webp');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 125px;
  margin-right: -120px;
  background-position: right;
}

.description{
  text-transform: uppercase;
  position: absolute;
  margin-left: 50px;
  top: 85%;
  font-size: 20px;
  line-height: 0.5;
  color: #3d3d3d;
  animation: fly-up 1s 1.8s ease-in-out forwards;
  opacity: 0;
  font-weight: 700;
}
@keyframes fly-up{
  0%{
opacity: 0;
transform: translateY(100%);
  }
  100%{
    opacity: 1;
    transform: translateY(-50%);
  }
}



/* Quote */


  #quote{
    line-height: 1.2;
    max-width: 70vw;
    font-size: 60px;
    position: absolute;
    top: 60%;
    margin-left: 50px;
    transform: translateY(-50%);
    color: #3d3d3d;
  }
  #sub-quote #one, #sub-quote #two, #sub-quote #three,#sub-quote #four,#sub-quote #five,#sub-quote #six,
  #sub-quote #seven,#sub-quote #eight {
  color: #fc0;
    font-size:100px;
     font-family: 'Playfair Display', serif;
     opacity: 0;
     animation:fade 0.3s ease-in-out forwards;
  }
  #quote #nine,#quote #ten,#quote #eleven,#quote #twelve,#quote #thirteen,#quote #fourteen,#quote #fiveteen,#quote #sixteen,
  #quote #seventeen,#quote #eighteen,#quote #nineteen,#quote #twenty,#quote #twenty-one,#quote #twenty-two,
  #quote #twenty-three,#quote #twenty-four, #quote #twenty-five, #quote #twenty-six,#quote #twenty-seven,#quote #twenty-eight,
  #quote #twenty-nine,#quote #thirty,#quote #thirty-one,#quote #thirty-two
 {
    opacity: 0;
    animation:fade 0.3s  ease-in-out forwards;
  }
 
  @keyframes fade {
    0% {
      filter:blur(15px);
      opacity:0;
    }
    50% {
      filter:blur(10px);
      opacity:0.9;
    }
    100% {
      filter:blur(0px);
      opacity:1;
    }  
  }



  /* SCROLL DOWN */
.scrolldown{
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
}
.scrolldown p{
  color: 	black;
  font-size: 16px;
  opacity: 0;
  line-height: 0;
  animation: scroll-down 0.5s 2.5s forwards;
}
.scrolldown div{
  margin-left: 50px;
  width: 3px;
  opacity: 0;
  background-color: #edbe00;
  animation: scroll-line 0.5s 2.5s forwards ease-in-out;
}
@keyframes scroll-line{
  from{
    height: 0px;
  }
 to{
   opacity: 1;
   height: 30px;
 }
}

@keyframes scroll-down{
  to{
    opacity: 1;
  }
}


  /* Portfolio */

 

.section-text{
  font-family: 'Playfair Display', serif;
  max-width: 100%;
  text-transform: uppercase;
  font-size: 200px;
  letter-spacing: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  color:rgb(250,250,250);
  transform: translate(-50%,-50%);
  background-attachment: fixed;
  opacity: 0;
  transition: opacity 0.2s;
}


.fixed-background{
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.75s cubic-bezier(.25,.1,.25,1);
}
.back{
  
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  filter: blur(20px);
  position: absolute;
   top: 0;
   left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}

/* PROJECT SECTION */

#portfolio{
  height:190vh;
  background-color:#F0F0F0;
}
.project{
  position: relative;
  height: 60vh;
  width: 100%;
}
.project-image-one,.project-image-two,.project-image-three{
  cursor: pointer;
  position: absolute;
  opacity: 1;
  transition: opacity 0.75s cubic-bezier(.25,.1,.25,1);
  transform-style: preserve-3d;
}
.project-image-one{
left: 15%;
width: 430px;
top: 40%;
}
.project-image-two{
  right: 15%;
  width: 380px;
  top: 5%;
 }
 .project-image-three{
  left: 25%;
  width: 430px;
  top: 10%;
 }

 /* PROJECT TEXT */

 .project-text-left{
   position: absolute;
   color: rgb(250,250,250);
  bottom: 0;
  left: -130px;
  line-height: 1;
  transform: translateZ(35px)  translateY(50%);
  opacity: 0;
  transition: opacity 0.75s,
             transform 0.75s;
 }
 
 .project-text-right{
  position: absolute;
  color: rgb(250,250,250);
  bottom: 0;
  right: -130px;
 line-height: 1;
 transform: translateZ(20px) translateY(50%);
 opacity: 0;
 transition: opacity 0.5s ease,
             transform 0.5s ease;
 }
 

 .project-text-left p:nth-child(1),.project-text-right  p:nth-child(1){
   line-height: 0.7;
   text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
   text-transform: uppercase;
  font-size: 40px;
 }
 .project-text-left p:nth-child(2),.project-text-right  p:nth-child(2){
   line-height: 0.3;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
   font-size: 16px;
 }
 .project-text-left hr,.project-text-right  hr{
   margin-top: 0;
   margin-bottom: 2px;
   border-top: 2px solid #fc0;
   width: 130%;
 }

 .project-text-left p:nth-child(4),.project-text-right  p:nth-child(4){
   text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
   color: 	#BEBEBE;
  font-family: 'Roboto Mono', monospace;
 }
 .project-text-left .arrow,.project-text-right .arrow{
   font-size: 20px;
 }



 /* ABOUT */


 .about-heading{
  text-transform: uppercase;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   font-size: 150px;
   letter-spacing: 10px;
   font-family: 'Playfair Display', serif;
   color: 	#E8E8E8;
 }
 .about-content-text{
   width: 50%;
   position: absolute;
   left: 10%;
  top: 5%;
   font-size: 25px;
   color: #3d3d3d;
 }

 .about-content-text .big-text{
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
  font-size: 72px;
  font-weight: 700;
  color: #fc0;
 }

 .about-content-experience{
  width: 50%;
  position: absolute;
  right: 5%;
 bottom: 9%;
  font-size: 25px;
  color: #3d3d3d;
 }



 /* CONNECT */


 .connect-heading{
   text-transform: uppercase;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 150px;
  letter-spacing: 5px;
  font-family: 'Playfair Display', serif;
  color: rgb(250,250,250);
}
.connect-header{
  width: 40%;
   position: absolute;
   left: 10%;
  top: 10%;
   font-size: 42px;
   color:#383838;
}
.connect-header span{
  font-size: 53px;
}
.connect-header a{
  position: relative;
  color:#383838;
  transition: 0.3s ;
  text-decoration: none;
}
.connect-header a:after,.connect-footer a:after{
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left:0;
  background-color:#fc0;
  width: 100%;
  height: 4px;
}

.connect-header a:hover,.connect-footer a:hover{
  text-decoration: none;
  color: #808080;
}
.connect-footer {
  width: 40%;
   position: absolute;
   bottom: 10%;
   right: 5%;
   font-size: 42px;
   color:#383838;
}
.connect-footer a{
  position: relative;
  color:#383838;
  transition: 0.3s ;
  text-decoration: none;
  font-size: 30px;
}


.copyright{
  position: absolute;
  color: #484848;
  bottom: 9px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 11px;
}

/* RESPONSIVE DESIGN */


  @media only screen and (max-width: 1261px){
    #quote{
      line-height: 1.1;
    }
    .face{
      margin-top: 145px;
      margin-right: -170px;
    }
    .section-text{
      font-size: 170px;
    }

    .project-image-one{
      left: 15%;
      width: 350px;
      top: 40%;
      }
      .project-image-two{
        right: 15%;
        width: 300px;
        top: 5%;
       }
       .project-image-three{
        left: 25%;
        width: 350px;
        top: 15%;
       }
  }

  @media only screen and (max-width:1116px){
    #quote{
      line-height: 1.0;
      font-size: 50px;
    }
    #sub-quote #one, #sub-quote #two, #sub-quote #three,#sub-quote #four,#sub-quote #five,#sub-quote #six,
    #sub-quote #seven,#sub-quote #eight {
      font-size:90px;
    }
    .face{
      margin-top: 145px;
      margin-right: -180px;
    }

  }

   @media only screen and (max-width:1000px)  and (min-width:767px){
    .nav-link{
      margin: 0 10px;
      font-size: 14px;
    }
    #quote{
      top: 60%;
      font-size: 40px;
    }
    #sub-quote #one, #sub-quote #two, #sub-quote #three,#sub-quote #four,#sub-quote #five,#sub-quote #six,
    #sub-quote #seven,#sub-quote #eight {
      font-size:65px;
    }
    .description{
      top: 75%;
    }

    .face{
      width: 60%;
    }

    .section-text{
      font-size: 130px;
      letter-spacing: 2px;
    }
   
    .project-image-one{
      left: 15%;
      width: 350px;
      top: 40%;
      }
      .project-image-two{
        right: 15%;
        width: 300px;
        top: 15%;
       }
       .project-image-three{
        left: 25%;
        width: 350px;
        top: 20%;
       }
      
   }

   @media only screen and (max-width: 768px){
     .navbar{
       box-shadow: none;
     }
     
.navbar:hover{
  background-color: rgb(0,0,0,0.6)!important;
  }
  #homeScreenLogo{
    width: 50px;
    position: absolute;
    left: initial;
    right: 20px;
    z-index: 1000;
  }
  .nav-link{
    margin: 0px;
    width: 80px;

  }
  #quote{
    font-size: 35px;
    top: 60%;
    margin-left: 20px;
  }
  #sub-quote #one, #sub-quote #two, #sub-quote #three,#sub-quote #four,#sub-quote #five,#sub-quote #six,
  #sub-quote #seven,#sub-quote #eight {
    font-size:55px;
  }
  .description{
    font-size: 16px;
    margin-left: 20px;
    top: 75%;
  }
  .face{
    width: 70%;
    margin-right: -150px;
  }

  .section-text{
    font-size: 100px;
    letter-spacing: 0px;
  }

  .project-image-one{
    left: 15%;
    width: 350px;
    top: 40%;
    }
    .project-image-two{
      right: 15%;
      width: 300px;
      top: 15%;
     }
     .project-image-three{
      left: 25%;
      width: 350px;
      top: 30%;
     }
 }

   @media only screen and (max-width: 660px){
    #quote{
      top: 20%;
      width: 80%;
     max-width: 100vw;
    }
    .description{
      top: 35%;
    }
    .face{
      width: 80%;
      margin-right: -30px;
      margin-top: 170px;
    }

    .project-text-left{
     bottom: 6px;
     opacity: 1;
    }
    .project-text-right{
     bottom: 6px;
    opacity: 1;
    }

    .project-image-one{
      left: 5%;
      width: 300px;
      top: 40%;
      }
      .project-image-two{
        right: 5%;
        width: 300px;
        top: 15%;
       }
       .project-image-three{
        left:5%;
        width: 350px;
        top: 30%;
       }
  
   }

   @media only screen and (max-width: 576px){
    #homeScreenLogo{
      width: 50px;
      position: absolute;
      left: initial;
      right: 10px;
      z-index: 1000;
    }
    button.navbar-toggler{
      margin-left: 0px!important;
      }  
    
      #quote{
        top: 20%;
        width: 100%;
      }
      .description{
        top: 35%;
        font-size: 14px;
      }
    
      .scrolldown{
        display: none;
        visibility: hidden;
      }
      @keyframes scroll-line{
        from{
          height: 0px;
        }
       to{
         opacity: 1;
         height: 30px;
       }
      }
      .section-text{
        font-size: 80px;
        letter-spacing: 0px;
      }
      
      #portfolio{
        height:160vh;
      }
      .project{
        position: relative;
        height: 50vh;
        width: 100%;
      }
      .project-image-one{
        left: 10%;
        width: 300px;
        top: 35%;
        }
        .project-image-two{
         right: 10%;
          width: 250px;
          top: 20%;
         }
         .project-image-three{
          left: 10%;
          width: 300px;
          top: 30%;
         }

         .project-text-left{
          bottom: -20px;
          left: -80px;
         }
         .project-text-right{
          bottom: -20px;
          right: -80px;
         }
       

        .project-text-left p:nth-child(1),.project-text-right  p:nth-child(1){
          line-height: 0.6;
         font-size: 35px;
        }
        .project-text-left p:nth-child(2),.project-text-right  p:nth-child(2){
          line-height: 0.0;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
          font-size: 14px;
        }
        .project-text-left hr,.project-text-right  hr{
          margin-top: 0;
          margin-bottom: 1px;
          border-top: 2px solid #fc0;
          width: 120%;
        }
        .project-text-left .arrow,.project-text-right .arrow{
          font-size: 20px;
        }
   }
  
   @media only screen and (max-width: 464px){
    #quote{
      font-size: 33px;
      
    }
    #sub-quote #one, #sub-quote #two, #sub-quote #three,#sub-quote #four,#sub-quote #five,#sub-quote #six,
    #sub-quote #seven,#sub-quote #eight {
      font-size:40px;
    }
    .description{
      top: 32%;
      font-weight: 600;
      font-size: 13px;
    }

    .face{
      width: 100%;
      margin-right: -30px;
      margin-top: 155px;
    }
    .section-text{
      font-size: 70px;
      letter-spacing: 0px;
    }

    .project-text-left{
      bottom: -23px;
      left: -40px;
     }
     .project-text-right{
      bottom: -23px;
      right: -20px;
     }
     .project-text-left p:nth-child(1),.project-text-right  p:nth-child(1){
      line-height: 0.6;
     font-size: 25px;
    }
  

   }

   @media only screen and (max-width: 402px){
    #quote{
      margin-left: 10px;
      font-size: 31px;
    }
    .description{
      margin-left: 10px;
    }
    #sub-quote #one, #sub-quote #two, #sub-quote #three,#sub-quote #four,#sub-quote #five,#sub-quote #six,
    #sub-quote #seven,#sub-quote #eight {
      font-size: 43px;
   }
   .face{
    margin-right: -50px;
    width: 110%;
  }
  .section-text{
    font-size: 60px;
    letter-spacing: 0px;
  }
  .project-image-one{
    left: 50%;
    transform: translateX(-50%);
 width: 250px;
    }
    .project-image-two{
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
     }
     .project-image-three{
       width: 250px;
      left: 50%;
      transform: translateX(-50%);
     }
     .project-text-left{
      left: 0px;
     }
     .project-text-right{
      right: 0px;
     }
  }

  @media only screen and (max-width: 362px){
    #quote{
      margin-left: 2px;
      font-size: 30px;
    }
    #sub-quote #one, #sub-quote #two, #sub-quote #three,#sub-quote #four,#sub-quote #five,#sub-quote #six,
    #sub-quote #seven,#sub-quote #eight {
      font-size: 40px;
   }
   .description{
    margin-left: 2px;
   }

   .face{
    margin-right: -50px;
    width: 110%;
  }
  }




  /* TO disable layer of page above another page ,use visiblity instead of display */