body,html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
   background-color: 	white;
  }
/* navbar */

.navbar:hover{  
background-color: rgb(0,0,0,0.7)!important;
}
.navbar{
  z-index: 1;
  background-color: rgb(0,0,0,0.0)!important;
  transition-property: background;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.04, 0.4, 0.58, 1);
  box-shadow: rgb(190, 190, 190) 0px 3px 3px 0px;
}

.navbar-toggler{
  background-color: rgb(0,0,0,0.8)!important;
}
 .material-icons{
  color: #C0C0C0;
}
.navbar-nav .nav-link{
  padding-right:  20px!important;
  text-shadow: 1px 1px 1px black;
  font-size: 16px;
  color: white!important;
}
.navbar-nav .nav-link:hover{
  animation: border-display 0.5s forwards ease-out;
  border-bottom: 2px solid 	#C0C0C0;
  width: 0%;
}
@keyframes border-display{
  to{
    width: 100%;
    border-bottom: 2px solid 	#C0C0C0;
  }
}
.nav-item.active .nav-link{
  
  width: 100%;
  color: 	#A9A9A9!important;
  text-shadow: 1px 1px 1px black;

}

/* Portfolio */
.opening-project{
  z-index: 100;
  position: absolute;
 width: 100%;
 height: 100vh;
 background-color: rgba(0,0,0,1);
 animation: closing-screen 0.5s 1s forwards ease-in-out ;
}
.opening-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: whitesmoke;
font-size: 130px;
text-transform: uppercase;
animation: text-fly 0.5s 0.7s forwards linear;
}
@keyframes text-fly{
  0%{
    opacity: 1;
    transform: translate(-50%,-50%);
  }
  50%{
    opacity: 0.2;
    font-size: 115px;
    transform: translate(-50%,-140%);
  }
  100%{
    opacity: 0;
    font-size: 100px;
    transform: translate(-50%,-230%);
  }
}

@keyframes closing-screen{
 0%{  
  background-color: rgba(0,0,0,1);
 }

100%{
   
    background-color: rgba(0,0,0,0.0);
    visibility: hidden;
}

}


.fixed{
  position: fixed;

}
.project-heading{
  text-transform: uppercase;
  font-family: 'Fredericka the Great', cursive;
  position: absolute;
  color: rgb(236,236,236);
  font-size: 100px;
  margin-top: -150px;
  letter-spacing: 10px;
  width: 100%;
}
.positioning{
  margin-top: 190px;
}

.project{
    overflow: hidden;
  position: relative;
  border-radius: 15px;
  width: 90%;
  margin-bottom: 30px;
}
/* Image-animation */


.project-image{
  width: 100%;
  height: auto;
  filter:blur(0px);
  transition: filter 0.5s ease-in;
}

.hover-animation:hover .project-image{
  filter: blur(2px);
  transition: filter 0.7s ease-in;
}

.line , .line-thick{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-top: 1px solid yellow;
  background-color: white;
 width: 0%;
}
.hero-text-open, .hero-text-project{
  color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
}
.hero-text-project{
  top: 57%;
}
.line-thick{
 height: 2px;
 color: white;
}
/* made another class hover-animation instead of using .project-image:hover cause animation was 
disrupting during hovering over .project-text */
.hover-animation:hover .hero-text-open{
  opacity: 1;
  transition: opacity 0.3s 0.5s ease-in;
}
.hover-animation:hover .hero-text-project{
  opacity: 1;
  transition: opacity 0.3s 0.5s ease-in;
}
.hover-animation:hover  .line{
  width: 100%;
  transition: width 1s;
}
.hover-animation:hover  .line-thick{
  width: 10%;
  transition: width 1s;
}

/* Project-short-description */
.project-text{

  padding: 10px 0px 0px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -2px 6px 0px #282828; 
}
.project-text p:nth-child(1){
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  line-height: 0.6;
}
.project-text p{
  font-size: 13px;
  line-height: 0.0;
  color: white;
}




@media only screen and (max-width:1000px) and (min-width:767px){ 
    .navbar-nav .nav-link{
      padding-right:  10px!important;
      font-size: 14px;
    }
    .hero-text-project{
      top: 62%;
    }
    .project-text p:nth-child(1){
      font-size: 23px;
    }
    .project-text p{
      font-size: 10px;
    }
}

@media only screen and (max-width:768px){

  .navbar{
    box-shadow: none;
  }
    .navbar-nav .nav-link{
      padding-left: 15px;
      padding-top: 5px;
      font-size: 14px;
    }
    button.navbar-toggler{
        margin-left: 10px!important;
    }

    @keyframes border-display{
       to{
         width: 15%;
         border-bottom: 2px solid 	#C0C0C0;
       } 
      }
    
      .opening-text{
      font-size: 80px;
      }
      @keyframes text-fly{
        0%{
          opacity: 1;
          transform: translate(-50%,-50%);
        }
        50%{
          opacity: 0.2;
          font-size: 75px;
          transform: translate(-50%,-200%);
        }
        100%{
          opacity: 0;
          font-size: 70px;
          transform: translate(-50%,-300%);
        }
      }
    
      .project-heading{
        font-size: 70px;
        letter-spacing: 7px;
      }
      .project{
      width: 60%;
      margin-left: 20%;
    }
    .hero-text-project{
      top: 59%;
    }

}   

@media only screen and (max-width: 536px){

  
    .nav-link{
        padding: 0px;
      }
      .navbar-nav .nav-link{
        padding-left: 7px;
        padding-top: 4px;
        font-size: 14px;
      }
      button.navbar-toggler{
        margin-left: 0px!important;
        }  

      .opening-text{
        font-size: 60px;
      }
      @keyframes text-fly{
        0%{
          opacity: 1;
          transform: translate(-50%,-50%);
        }
        50%{
          opacity: 0.5;
          font-size: 53px;
          transform: translate(-50%,-250%);
        }
        100%{
          opacity: 0;
          font-size: 45px;
          transform: translate(-50%,-500%);
        }
      }
      .project-text{
        padding: 10px 0px 0px 20px;
      }
      .project-text p:nth-child(1){
        font-size: 20px;
      }
      .project-text p{
        font-size: 10px;
      }
        .project-heading{
          font-size: 45px;
          letter-spacing: 3px;
          margin-top: -110px;
        }
        .positioning{
          margin-top: 120px;
        }
        .hero-text-project{
          top: 61%;
        }
}
@media only screen and (max-width: 412px){
  .opening-text{
    font-size: 50px;
  }
  @keyframes text-fly{
    0%{
      opacity: 1;
      transform: translate(-50%,-50%);
    }
    50%{
      opacity: 0.5;
      font-size: 45px;
      transform: translate(-50%,-300%);
    }
    100%{
      opacity: 0;
      font-size: 40px;
      transform: translate(-50%,-500%);
    }
  }
  .project-text{
    padding: 5px 0px 0px 10px;
  }
  .project-heading{
    font-size: 35px;
    letter-spacing: 3px;
    margin-top: -70px;
  }
  .positioning{
    margin-top: 90px;
  }
  .project{
    width: 70%;
    margin-left: 15%;
  }
  
}