body,html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
   background-color: 	white;
  }
/* navbar */


.navbar{
  background-color: white!important;
  z-index: 1;
  box-shadow: rgb(190, 190, 190) 0px 3px 3px 0px;
  transition: 0.5s;
}
.navbar:hover{
  background-color: rgb(0,0,0,0.8)!important;
}

.navbar-toggler{
  background-color: rgb(0,0,0,0.8)!important;
}
.navbar .material-icons{
  color: #C0C0C0;
}

.nav-link{
  position: relative;
  padding: 5px 10px!important;
  margin: 0 15px;
  font-size: 16px;
  color: white!important;
  text-shadow: 1px 1px 1px black;
  transition: 0.5s;
}
.nav-link:before{
  content: '';
  position: absolute;
  bottom: 10px;
  left:11px;
  width: 12px;
  height: 12px;
  border: 2px solid #fc0;
  border-width: 0 0 2px 2px;
  transition: 0.5s;
  opacity: 0;
}
.nav-link:after{
  content: '';
  position: absolute;
  top:11px;
  right: 10px;
  width: 12px;
  height: 12px;
  border: 2px solid #fc0;
  border-width: 2px 2px 0px 0px;
  transition: 0.5s;
  opacity: 0;
}
@media not all and (pointer: coarse) {
  .nav-link:hover{
    color: #fc0!important;
  }
  .nav-link:hover:before{
    bottom: 0px;
    left: 0px;
    opacity: 1;
  }
  .nav-link:hover:after{
    top: 0px;
    right: 0px;
    opacity: 1;
  }
}


/* Active Nav Link */
.nav-item.active .nav-link{
  color: #fc0!important;
}

.nav-item.active .nav-link:after{
  content: '';
  position: absolute;
  top:0px;
  right: 0px;
  width: 12px;
  height: 12px;
  border: 2px solid #fc0;
  border-width: 2px 2px 0px 0px;
  transition: 0.5s;
  opacity: 1;
}
.nav-item.active .nav-link:before{
  content: '';
  position: absolute;
  bottom: 0px;
  left:0px;
  width: 12px;
  height: 12px;
  border: 2px solid #fc0;
  border-width: 0 0 2px 2px;
  transition: 0.5s;
  opacity: 1;
}

 .part-one{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  animation: 
  closing-screen-one 0.5s 0.1s forwards ease-in-out ;
  background-color:  #1a1a00;
}
 .part-two{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  animation: 
  closing-screen-one 0.5s forwards ease-in-out ;
  background-color: #fc0;
}
@keyframes closing-screen-one{
 0%{
   width: 100vw;
 }
 100%{
  width: 0%;
 }
}



.fixed{
  position: fixed;

}
.project-heading{
  text-transform: uppercase;
  font-family: 'Fredericka the Great', cursive;
  position: absolute;
  color: rgb(236,236,236);
  font-size: 100px;
  margin-top: -150px;
  letter-spacing: 10px;
  width: 100%;
}
.positioning{
  margin-top: 190px;  
}

.project{
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  width: 90%;
  margin-left: 25px;
  margin-bottom: 30px;
}

[data-aos="projectsMove1"]{
  transform: translateX(230%) scale(0.5);
}
[data-aos="projectsMove1"].aos-animate{
  transform: translateX(0) scale(1);
}
[data-aos="projectsMove2"]{
  transform: translateX(130%) scale(0.54);
}
[data-aos="projectsMove2"].aos-animate{
  transform: translateX(0) scale(1);
}
[data-aos="projectsMove3"]{
  transform: translateX(30%)   scale(0.58);
}
[data-aos="projectsMove3"].aos-animate{
  transform: translateX(0) scale(1);
}

/* Image-animation */

.project-image{
  width: 100%;
  height: auto;
  filter: blur(0px);
  transition: filter 0.7s ease-in;
}

.line , .line-thick{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-top: 1px solid yellow;
  background-color: white;
 width: 0%;
}
.hero-text-open, .hero-text-project{
  color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
}
.hero-text-project{
  top: 57%;
}
.line-thick{
 height: 2px;
 color: white;
}
/* made another class hover-animation instead of using .project-image:hover cause animation was 
disrupting during hovering over .project-text */
@media not all and (pointer: coarse) {
  .hover-animation:hover .project-image{
    filter: blur(2px);
  }
  .hover-animation:hover .hero-text-open{
    opacity: 1;
    transition: opacity 0.3s 0.5s ease-in;
  }
  .hover-animation:hover .hero-text-project{
    opacity: 1;
    transition: opacity 0.3s 0.5s ease-in;
  }
  .hover-animation:hover  .line{
    width: 100%;
    transition: width 1s;
  }
  .hover-animation:hover  .line-thick{
    width: 10%;
    transition: width 1s;
  }
}


/* Project-short-description */
.project-text{

  padding: 10px 0px 0px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -2px 6px 0px #282828; 
}

.project-text p:nth-child(1){
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  line-height: 0.6;
}
.project-text p{
  font-size: 13px;
  line-height: 0.0;
  color: white;
}




@media only screen and (max-width:1000px) and (min-width:767px){ 

  .nav-link{
    margin: 0 10px;
    font-size: 14px;
  }

    .hero-text-project{
      top: 62%;
    }
    .project-text p:nth-child(1){
      font-size: 23px;
    }
    .project-text p{
      font-size: 10px;
    }
}

@media only screen and (max-width:768px){

 

  .nav-link{
    margin: 0px;
    width: 80px;
  }
  
   .project-heading{
        font-size: 70px;
        letter-spacing: 7px;
      }
      .project{
      width: 60%;
      margin-left: 20%;
    }
    .hero-text-project{
      top: 59%;
    }

}   

@media only screen and (max-width: 576px){


      button.navbar-toggler{
        margin-left: 0px!important;
        }  

   
      .project-text{
        padding: 10px 0px 0px 20px;
      }
      .project-text p:nth-child(1){
        font-size: 20px;
      }
      .project-text p{
        font-size: 10px;
      }
        .project-heading{
          font-size: 45px;
          letter-spacing: 3px;
          margin-top: -60px;
        }
        .positioning{
          margin-top: 120px;
        }
        .hero-text-project{
          top: 61%;
        }
}
@media only screen and (max-width: 412px){


  .project-text{
    padding: 7px 0px 0px 10px;
  }
  .project-heading{
    font-size: 35px;
    letter-spacing: 3px;
    margin-top: -50px;
  }
  .project-text p:nth-child(1){
    line-height: 0.3;
  }
  .project-text p{
    margin-bottom: 0.8rem;
  }

  .positioning{
    margin-top: 110px;
  }
  .project{
    width: 70%;
    margin-left: 15%;
  }
  
}