body,html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
/* navbar */

.navbar:hover{
background-color: rgb(0,0,0,0.7)!important;
}
.navbar{
  z-index: 1;
  background-color: rgb(0,0,0,0.0)!important;
  transition-property: background;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.04, 0.4, 0.58, 1);
}

.navbar-toggler{
  background-color: rgb(0,0,0,0.8)!important;
}
 .material-icons{
  color: #C0C0C0;
}
.navbar-nav .nav-link{
  padding-right:  20px!important;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
  color: white!important;
}
.navbar-nav .nav-link:hover{
  animation: border-display 0.5s forwards ease-out;
  border-bottom: 2px solid 	#C0C0C0;
  width: 0%;
}
@keyframes border-display{
  to{
    width: 100%;
    border-bottom: 2px solid 	#C0C0C0;
  }
}
.nav-item.active .nav-link{
  
  width: 100%;
  color: 	#A9A9A9!important;
  text-shadow: 1px 1px 1px black;

}


/* Index.html */

/* heading */
.hero-image{
 height: 800px;
 background-image: url(images/thesis/all-zones.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 background-color: black;
 /* Effect to load after blank screen below*/
 /* animation: dark-image-load 2.5s forwards linear ; */
 /* Effect to load with a decreasing brightness with pop out effect below */
 animation: dark-image-load 1s 2.5s forwards linear ;
}
#logo{

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
#logo path:nth-child(1){
 stroke-dasharray:  512.3522338867188px;
 stroke-dashoffset:  512.3522338867188px;
 animation: line-anime 0.5s ease forwards;
}
#logo path:nth-child(2){
  stroke-dashoffset: 490.29205322265625px;
  stroke-dasharray: 490.29205322265625px;
  animation: line-anime 0.5s ease forwards 0.2s;
}#logo path:nth-child(3){
  stroke-dashoffset: 549.0668334960938px;
  stroke-dasharray: 549.0668334960938px;
  animation: line-anime 0.5s ease forwards 0.4s;
}#logo path:nth-child(4){
  stroke-dashoffset: 336.6719665527344px;
  stroke-dasharray: 336.6719665527344px;
  animation: line-anime 0.5s ease forwards 0.6s;
}#logo path:nth-child(5){
  stroke-dashoffset: 226.9440155029297px;
  stroke-dasharray: 226.9440155029297px;
  animation: line-anime 0.5s ease forwards 0.8s;
}#logo path:nth-child(6){
  stroke-dashoffset: 512.3509521484375px;
  stroke-dasharray: 512.3509521484375px;
  animation: line-anime 0.5s ease forwards 1s;
}#logo path:nth-child(7){
  stroke-dashoffset: 441.6843566894531px;
  stroke-dasharray: 441.6843566894531px;
  animation: line-anime 0.5s ease forwards 1.2s;
}#logo path:nth-child(8){
  stroke-dashoffset: 463.96795654296875px;
  stroke-dasharray: 463.96795654296875px;
  animation: line-anime 0.5s ease forwards 1.4s;
}#logo path:nth-child(9){
  stroke-dashoffset: 549.0673217773438px;
  stroke-dasharray: 549.0673217773438px;
  animation: line-anime 0.5s ease forwards 1.6s;
}#logo path:nth-child(10){
  stroke-dashoffset: 754.9266357421875px;
  stroke-dasharray: 754.9266357421875px;
  animation: line-anime 0.5s ease forwards 1.8s;
}#logo path:nth-child(11){
  stroke-dashoffset: 490.2921447753906px;
  stroke-dasharray: 490.2921447753906px;
  animation: line-anime 0.5s ease forwards 2s;
}

.hero-text {
  text-transform: uppercase;
  width: 100%;
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  transition: 5s;
  font-size: 150px;
  letter-spacing: 3px;
  animation: text-fly 1s 1s forwards linear;
}

@keyframes text-fly{
  0%{
    font-size: 150px;
    transform: translate(-50%,-50%);
  }
  25%{
    font-size: 125px;
    transform: translate(-60%,40%);
  }
  50%{
    font-size: 100px;
    transform: translate(-70%,130%);
  }
 75%{
   font-size: 75px;
   transform: translate(-80%,220%);
 }
  100%{
    font-size: 50px;
    transform: translate(-90%,310%);
  } 
}

@keyframes line-anime{
  to{
    stroke-dashoffset: 0px;
  }
}

/* @keyframes dark-image-load{
  0%{
    filter: brightness(0%);
  }
  50%{
    filter: brightness(0%);
  }
  75%{
    filter:brightness(50%);
  }
  85%{
   filter: brightness(70%);
  }
  100%{
    filter:brightness(100%);
  }
} */


@keyframes dark-image-load{
  0%{
    filter: brightness(100%);
  }
  50%{
    filter: brightness(85%);
    transform: scale(1.03);
  }
  100%{
    filter:brightness(70%);
    transform: scale(1.06);
  }
}


/* Thesis.html */

.position-relative{
  position: relative;
}
.fixed{
  position: fixed;
}

/* Thesis Carousel */

.carousel{
  z-index: -3;
}

.carousel-indicators{
  position: absolute;
  left: 55%;
  bottom: 10px;
  width: 50%;
}
.carousel-indicators li{
  box-shadow: 0px 0px 3px 1px #202020;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1px solid white;
 display: inline-block;
}
.carousel-indicators .active{
  box-shadow: 0px 0px 3px 1px 	#E0E0E0;
  border: 1px solid black;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-color: #101010;
}
figure{
  overflow: hidden;
}
.thesis-image{
  width: 100%;
  max-height: 100vh;
  height: auto;
  animation: image-load-thesis 4.6s 1s forwards linear;
}
@keyframes image-load-thesis{
  0%{
    width: 100%;
    transform: scale(1);
  }
  50%{
    width: 100%;
    transform: scale(1.05);
  }
  100%{
    width: 100%;
    transform: scale(1.1);
  }
  }
.carousel-text{
    position: absolute;
    bottom: 8%;
    left: 2%;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;     
    margin-left: 20px;
    color: white;
  }

/* Thesis Content */

.content{
 z-index: 2;
  background-color: #F8F8F8;
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 100vh;
  left: 15%;
  padding: 30px;
}
.content-heading{
  font-size:55px;
  text-transform: uppercase;
  color: #303030;
}
.line{
  border-top: 2px solid 	#808080;
}
.content-images{
  width: 100%;
  height: auto;
  cursor: pointer;
}
.content-images:hover{
  box-shadow: 0px 0px 5px 1px black;
  transition: box-shadow 0.5s ease ;
}

.content-image-text{  
  position: absolute;
  bottom: 4%;
  left: 87%;
  font-size: 25px;
  text-transform: uppercase;
}
.zone{
  color: #303030;
  font-size: 40px;
}
.zone-line{
  width: 40%;
  margin: 0 auto;
  border-top: 2px solid 	#808080;
}
.zone-heading{
  color: #303030;
  text-transform: uppercase;
  font-size: 22px;
}
#zone-inner-text{
  color:#808080;
  font-size: 20px;
}
.zone-text{
  text-transform: uppercase;
  font-size: 17px;
}

[data-aos="darkness"]{
  filter: brightness(100%);
  transition-property: filter;
}
[data-aos="darkness"].aos-animate{
  filter: brightness(35%);
}

/* Gallery */


/* modals*/
.modal-dialog{
  animation: modal-opener 0.7s ease-in-out forwards;
}
@keyframes modal-opener{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
 .modal-body{
  padding: 5px;
} 


@media only screen and (max-width:1000px) and (min-width:767px){
  .thesis-image{
    min-height: 100vh;
  }
  .navbar-nav .nav-link{
    padding-right:  10px!important;
    font-size: 15px;
  }
  .carousel-text{
    font-size: 40px;
  }
  .carousel-indicators{
    left: 53%;
    bottom: 5px;
  }
  .carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }
  .carousel-indicators .active{
    width: 10px;
    height: 10px; 
  }
  .content-image-text{
    left: 80%;
    font-size: 23px;
  }
  .zone{
    font-size: 30px;
  }
  .zone-heading{
    font-size: 19px;
  }
  .zone-text{
    font-size: 15px;
    text-transform: none;
  }
 
}

@media only screen and (max-width:768px){
 
  
  .navbar-nav .nav-link{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 20px;
  }
  button.navbar-toggler{
   margin-left: 10px!important;
  }
  @keyframes border-display{
  to{
    width: 15%;
    border-bottom: 2px solid 	#C0C0C0;
  } 
 }

 .fixed{
  position: relative;
}

  .carousel-indicators{
    left: 50%;
    bottom: 5px;
  }
  .carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }
  .carousel-indicators .active{
    width: 10px;
    height: 10px; 
  }
  .carousel-text{
    display: none;
  }
  

  .content{
    padding: 10px;
    background-color: white;
    position: relative;
    width: 100%;
    top: 0;
    left: 0px;
  }
  .content-heading{
    font-size:45px;
  }
  .content-image-text{
    left: 85%;
    font-size: 20px;
  }

  .zone{
    font-size: 25px;
  }
  .zone-heading{
    font-size: 18px;

  }
  
  .zone-text{
    font-size: 13px;
    text-transform: none;
  }
 
  .removed-padding{
  padding-right: 5px;
  padding-left: 5px;
  }
}
@media only screen and (max-width:576px){
  .content-image-text{
    left: 80%;
    font-size: 15px;
  }
  .carousel-indicators{
    left: 45%;
    bottom: 3px;
  }
  .carousel-indicators li{
    width: 6px;
    height: 6px;
    border-radius: 6px;
  }
  .carousel-indicators .active{
    width: 8px;
    height: 8px;
    border-radius: 8px!important;
  }
  .nav-link{
    padding: 0px;
  }
  .navbar-nav .nav-link{
    padding-left: 7px;
    padding-top: 4px;
    font-size: 15px;
  }
  button.navbar-toggler{
    margin-left: 0px!important;
  }
  .content-heading{
    font-size:30px;
  }
  #text-content-change{
    font-size: 10px;
  }
  #zone-inner-text{
    font-size: 14px;
  }
}


















/* Images for web */
/* All images should have 72-100dpi or ppi resolution with rgb color format and jpg format */
/* 2880*1620px dimension for full screen display */
/* Inside content : 1500 max width horizontal */
/* Inside content : 1000 max width vertical */


